.skin-black-light .main-header .navbar {
    background-color: black !important;
    color: #fff !important;
}
.skin-black-light .main-header>.logo {
    background-color: black !important;
    color: #fff !important;
    border: none !important;
}
.skin-black-light .main-header .navbar>.sidebar-toggle {
    color: #fff;
    border-right: none !important;
}
.skin-black-light .main-header .navbar .nav>li>a {
    color: #fff;
}
.skin-black-light .main-header .navbar .nav>li>a:hover, .skin-black-light .main-header .navbar .nav>li>a:active, .skin-black-light .main-header .navbar .nav>li>a:focus, .skin-black-light .main-header .navbar .nav .open>a, .skin-black-light .main-header .navbar .nav .open>a:hover, .skin-black-light .main-header .navbar .nav .open>a:focus, .skin-black-light .main-header .navbar .nav>.active>a {
    background: #fff !important;
    color: #000000 !important;
}
.skin-black-light .main-header .navbar .navbar-nav>li>a {
    border:none !important;
}

body {
    font-size: 13px !important;
    color: black !important;
}

.border1-black{
    border: 1px solid #000000;
}

.mg-5{
    margin: 5px !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    color: #000 !important;
}

ul > li > a > i {
    font-size: medium !important;
}

.waiting {
    cursor: progress;
}

.skin-black-light .main-header {
    background-color: black;
}

.navbar-nav>.breadcrumb {
    float: right;
    background: transparent;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 12px;
    padding: 5px;
    position: absolute;
    right: 10px;
    border-radius: 2px;
}

.navbar{
    margin-bottom: 0px!important;
    border-radius: 0!important;
}


.navbar-default .navbar-brand {
    color: #fff !important;
    font-weight: bold;
}

.navbar-default {
    background-color: #252525;
    border: none;
}

.navbar-nav>li>a {
    padding-top: 5px;
    padding-bottom: 5px;
}

.control-sidebar.control-sidebar-open, .control-sidebar.control-sidebar-open+.control-sidebar-bg {
    right: 0 !important;
}

.control-sidebar-bg, .control-sidebar {
    width: 290px !important;
    right: -290px !important;
}

.bootstrap-table{
    padding-bottom: 30px !important;
}

.info-box-icon {
    width: 55px !important;
}
.info-box-content {
    margin-left: 60px !important;
}

/*.box{*/
    /*padding: 0 2% !important;*/
/*}*/

.card-view{
    display: flex;
    padding-bottom: 4px;
}

table.dataTable tbody th, table.dataTable tbody td {
    padding: 5px 10px !important;
}

#importarxls{
    max-width:90% !important;
}

.btn {
    border: 1px solid #ccc !important;
}

select{
    background-color: #ffffff !important;
}

.fixed-table-toolbar .bs-bars{
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 34px;
}

.toggle.btn {
    max-height: 30px !important;
    min-height: 30px !important;
    height: 30px !important;
    padding-top: 3px !important;
}

.toggle-group .btn {
    padding-top: 3px !important;
}

#activo{
  height: 30px !important;
}

.p-10{
    padding: 10px;
}

.pl-1{
    padding-left: 10px !important;
}

.pb-10{
    padding: 0 0 10px 0 !important;
}

.pt-10{
    padding: 10px 0 0 0 !important;
}

.pt-20{
    padding: 20px 0 0 0 !important;
}

.pt-50{
    padding: 50px 0 0 0 !important;
}
.pt-100{
    padding: 100px 0 0 0 !important;
}

.ptb-10{
    padding: 10px 0 10px 0 !important;
}

.pt-21{
    padding-top: 21px !important;
}

.pt-19{
    padding: 19px 0 0 0 !important;
}
.mb-0{
    margin-bottom: 0px !important;
}
.mr-15{
    margin-right: 15px !important;
}

.pr-10 {
    padding-right: 10px !important;
}

.prl-5{
    padding-left: 5px!important;
    padding-right: 5px!important;
}

.mt-5{
    margin-top: 5px !important;
}
.mt-10{
    margin-top: 10px !important;
}
.mt-20{
    margin-top: 20px !important;
}
.ml-10{
    margin-left: 10px !important;
}
.ml-30{
    margin-left: 30px !important;
}

.no-bt{
    border-top: none !important;
}

.btn-ftn{
    border: 1px solid #ccc !important;
    padding: 3px 5px;
    margin: 2px;
}

.btn-outline-danger {
    border: 1.4px solid #ac2925!important;
    background-color: transparent!important;
    color: #ac2925!important;
    margin: 2px;
}

.btn-outline-primary {
    border: 1.4px solid #0086ad !important;
    background-color: transparent!important;
    color: #0086ad !important;
    margin: 2px;
}

.btn-outline-warning {
    border: 1.4px solid #1a2127 !important;
    background-color: transparent!important;
    color: #1a2127 !important;
    margin: 2px;
}

.btn-outline-success {
    border: 1.4px solid #00a65a!important;
    background-color: transparent!important;
    color: #00a65a!important;
    margin: 2px;
}

.btn-outline-gray {
    border: 1.4px solid #b3b3b3 !important;
    background-color: transparent!important;
    color: #ccc!important;
    margin: 2px;
}

.sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu>li:hover>.treeview-menu {
    top: 40px !important;
    border: 1px solid #d2d6de;
}

.skin-black-light .sidebar-menu .treeview-menu>li>a {
    color: #444;
}

.sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu>li:hover>a>span {
    background-color: black !important;
    color: white !important;
    font-weight: bold !important;
}

.label-default {
    background-color: orange !important;
    color: #000;
}

.row-fluid [class*="span"] {
    margin-left: 0;
}

#thborrar,#theditar,#thvisualizar{
    border-left: none !important;
}

.nav-tabs-custom {
    margin-bottom:0px !important;
}

.nav-tabs-custom>.tab-content {
    padding: 10px 10px 0 10px;
}


.detail-icon{
    color: #000000 !important;
}

.error{
    color: #dd4b39;
    font-size: 20px;
}

.thead-inverse {
    color: #000 !important;
    background-color: #ddd !important;
    border-bottom: 2px solid #000 !important;
}

.thead-inverse-gray {
    color: #000 !important;
    background-color: #d2d6de !important;
    border: 1px solid #000000 !important;
}

.btn-primary{
    background-color: #000 !important;
}

.box.box-primary {
    border-top-color: #000 !important;
}

.pagination>.active>a {
    background-color: #005582 !important;
    border-color: #005582 !important;
}
.content-wrapper {
    background-color: #fff  !important;
}
.skin-black-light .main-header {
    border-bottom: 1px solid #3b3a30 !important;
}

.main-footer {
    background: #000 !important;
    color: #fff !important;
    border-top: 1px solid #3b3a30 !important;
}

.bg-info {
    padding-top: 15px !important;
    background-color: #aaaaaa;
}

.widget-product-header{
    padding: 20px;
    height: 140px;
}
.widget-product-image{
    width: 65px;
    height: auto;
    float: left;
}
.widget-product-text{
    margin-left: 75px;
}
.box-promociones{
    height: 295px;
    overflow: hidden;
}
.widget-product-header .icon {
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    position: absolute;
    top: 5;
    right: 10px;
    z-index: 0;
    font-size: 90px;
    color: rgba(0,0,0,0.15);
}

.box-widget{
    margin-bottom: 15px;
}

.fixed-table-container {
    border: none !important;
}

.table-bordered>tbody>tr>td{
    border: 1px solid #ccc;
}
.fixed-table-container tbody td:last-child {
    border-right: none;
}

.bootstrap-table .table > thead > tr > th {
    border: 1px solid #E6E6FA !important;
}

.table-hover>tbody>tr:hover {
    background-color:#E6E6FA !important;
}

.bodycontainer{
    max-height: 450px;
    width: 100%;
    margin: 0;
    overflow-y: auto;
}


.error-page>.error-content {
    margin-left: 155px !important;
    padding-top: 35px !important;
}

.login-page, .register-page {
    background-image: url('/img/bgimg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-attachment: fixed;
}

.login-pagepp {
    background-image: url('/img/bgimgpp.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-attachment: fixed;
}

.h100{
    height: 100px !important;
    weight: auto !important;
}

.login-logo, .register-logo {
    margin: 0 !important;
    padding: 30px;
    background-color: #000000;
    width: 100%;
}

.newtit{
    width: 480px !important;
}

.login-logo a, .register-logo a {
    color: #fff !important;
}

.select2-container--default .select2-selection--single {
    border: 1px solid #d2d6de !important;
    border-radius: 0 !important;
    height: 30px;
}

.select2-container .select2-selection--single {
    height: 30px !important;
}

.select2-container {
    width: 100% !important;
    padding: 0;
}

.box-body {
    padding-top: 1em !important;
}

.link-box {
    display: inline-block;
    min-height: 90px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    border-radius: 2px;
    margin-bottom: 7px;
    margin-right: 1px;
    padding: 0 12px;
}

.link-box2 {
    display: inline-block;
    min-height: 90px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    border-radius: 0;
    margin-bottom: 7px;
    margin-right: 1px;
    padding: 0 76px
}

/*.box {*/
    /*border-top: 3px solid #000000 !important;*/
/*}*/

.navbar-nav>.notifications-menu>.dropdown-menu>li .menu>li>a{
    background-color: #000000 !important;
    color: #ffffff !important;
}

.bg-white{
    background-color: #ffffff !important;
}

.bg-calor1{
    background-color:#ffa951 !important;
}
.bg-calor2{
    background-color:#ff975e !important;
}
.bg-calor3{
    background-color:#ff7f54 !important;
}
.bg-calor4{
    background-color:#f95c5c !important;
}


.bootstrap-table .table > thead > tr > .border-black{
    border: #000000 solid !important;
}

.control-sidebar-menu .menu-info {
    padding-top: 4%;
}

.row.display-flex {
    display: flex;
    flex-wrap: wrap;
}

.minw90{
    min-width: 90px;
}

.text-white{
    color: #ffffff;
}

.d-none{
    display: none !important;
}

.box-footer{
    padding:20px 10px !important;
    background-color: #eee !important;
}

.box50{
    width: 50% !important;
}

dl{
    font-size: 15px !important;
}

.main-footer{
 min-height: 90px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    font-size: 12px;
    font-weight: bolder !important;
}

.select2-container--default .select2-selection--single, .select2-selection .select2-selection--single {
    padding: 6px 1px;
}

.select2-loader {
    display: inline-block;
    z-index: 2000;
    width: 14px;
    height: 14px;
    border: solid 2px transparent;
    border-top-color: #29d;
    border-left-color: #29d;
    border-radius: 14px;
    -webkit-animation: pace-spinner 400ms linear infinite;
    -moz-animation: pace-spinner 400ms linear infinite;
    -ms-animation: pace-spinner 400ms linear infinite;
    -o-animation: pace-spinner 400ms linear infinite;
    animation: pace-spinner 400ms linear infinite;
    -webkit-pointer-events: none;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.graph-container {
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 2px #eee;
    margin: 0 0 10px 0;
    position: relative;
}
.graph-container .graph {
    height: 220px;
}
.graph-container .donut {
    height: 280px;
}

.col-xs-offset-right-12 {
    margin-right: 100%;
}
.col-xs-offset-right-11 {
    margin-right: 91.66666667%;
}
.col-xs-offset-right-10 {
    margin-right: 83.33333333%;
}
.col-xs-offset-right-9 {
    margin-right: 75%;
}
.col-xs-offset-right-8 {
    margin-right: 66.66666667%;
}
.col-xs-offset-right-7 {
    margin-right: 58.33333333%;
}
.col-xs-offset-right-6 {
    margin-right: 50%;
}
.col-xs-offset-right-5 {
    margin-right: 41.66666667%;
}
.col-xs-offset-right-4 {
    margin-right: 33.33333333%;
}
.col-xs-offset-right-3 {
    margin-right: 25%;
}
.col-xs-offset-right-2 {
    margin-right: 16.66666667%;
}
.col-xs-offset-right-1 {
    margin-right: 8.33333333%;
}
.col-xs-offset-right-0 {
    margin-right: 0;
}
@media (min-width: 768px) {
    .col-sm-offset-right-12 {
        margin-right: 100%;
    }
    .col-sm-offset-right-11 {
        margin-right: 91.66666667%;
    }
    .col-sm-offset-right-10 {
        margin-right: 83.33333333%;
    }
    .col-sm-offset-right-9 {
        margin-right: 75%;
    }
    .col-sm-offset-right-8 {
        margin-right: 66.66666667%;
    }
    .col-sm-offset-right-7 {
        margin-right: 58.33333333%;
    }
    .col-sm-offset-right-6 {
        margin-right: 50%;
    }
    .col-sm-offset-right-5 {
        margin-right: 41.66666667%;
    }
    .col-sm-offset-right-4 {
        margin-right: 33.33333333%;
    }
    .col-sm-offset-right-3 {
        margin-right: 25%;
    }
    .col-sm-offset-right-2 {
        margin-right: 16.66666667%;
    }
    .col-sm-offset-right-1 {
        margin-right: 8.33333333%;
    }
    .col-sm-offset-right-0 {
        margin-right: 0;
    }

    .sidebar-mini.sidebar-collapse .main-header .logo {
        width: 190px !important;
    }

    .sidebar-mini.sidebar-collapse .main-header .navbar {
        margin-left: 190px !important;
    }
    .navbar-right {
        float: right!important;
        margin-right: 0 !important;
    }
    .modalart {
        width: 900px !important;
    }
    .modalmaster{
        width: 600px !important;
    }
    .fixed-table-toolbar .search{
        width: 43% !important;
    }
}
@media (min-width: 992px) {
    .col-md-offset-right-12 {
        margin-right: 100%;
    }
    .col-md-offset-right-11 {
        margin-right: 91.66666667%;
    }
    .col-md-offset-right-10 {
        margin-right: 83.33333333%;
    }
    .col-md-offset-right-9 {
        margin-right: 75%;
    }
    .col-md-offset-right-8 {
        margin-right: 66.66666667%;
    }
    .col-md-offset-right-7 {
        margin-right: 58.33333333%;
    }
    .col-md-offset-right-6 {
        margin-right: 50%;
    }
    .col-md-offset-right-5 {
        margin-right: 41.66666667%;
    }
    .col-md-offset-right-4 {
        margin-right: 33.33333333%;
    }
    .col-md-offset-right-3 {
        margin-right: 25%;
    }
    .col-md-offset-right-2 {
        margin-right: 16.66666667%;
    }
    .col-md-offset-right-1 {
        margin-right: 8.33333333%;
    }
    .col-md-offset-right-0 {
        margin-right: 0;
    }
}
@media (min-width: 1200px) {
    .col-md-offset-right-12 {
        margin-right: 100%;
    }
    .col-md-offset-right-11 {
        margin-right: 91.66666667%;
    }
    .col-md-offset-right-10 {
        margin-right: 83.33333333%;
    }
    .col-md-offset-right-9 {
        margin-right: 75%;
    }
    .col-md-offset-right-8 {
        margin-right: 66.66666667%;
    }
    .col-md-offset-right-7 {
        margin-right: 58.33333333%;
    }
    .col-md-offset-right-6 {
        margin-right: 50%;
    }
    .col-md-offset-right-5 {
        margin-right: 41.66666667%;
    }
    .col-md-offset-right-4 {
        margin-right: 33.33333333%;
    }
    .col-md-offset-right-3 {
        margin-right: 25%;
    }
    .col-md-offset-right-2 {
        margin-right: 16.66666667%;
    }
    .col-md-offset-right-1 {
        margin-right: 8.33333333%;
    }
    .col-md-offset-right-0 {
        margin-right: 0;
    }
}

@media (max-width: 425px){
    .fixed-table-toolbar .search {
        width: 250px;
    }
    .bs-checkbox{
        display: none;
    }
    .dropdown-toggle{
        display: none;
    }
    .btn-ftn {
        border: none !important;
        padding: 0px !important;
    }
}

.notifs{
    width: 320px !important;
}
.content-header{
    padding: 0 !important;
}

.table-condensed > tbody > tr > td, .table-condensed > tbody > tr > th, .table-condensed > tfoot > tr > td, .table-condensed > tfoot > tr > th, .table-condensed > thead > tr > td, .table-condensed > thead > tr > th {
    padding: 3px;
}

.navbar-nav>.notifications-menu>.dropdown-menu>li .menu>li>a, .navbar-nav>.messages-menu>.dropdown-menu>li .menu>li>a, .navbar-nav>.tasks-menu>.dropdown-menu>li .menu>li>a {
    border-bottom: none !important;
}

/*7/7/2019*/
.navbar-nav>li>a {
    padding-top: 5px;
}

.content {
    padding: 0 15px !important;
}

.box {
    margin-bottom: 10px;
}
.content {
    padding: 0 !important;
    background-color: #eee !important;
    min-height: 530px !important;
}

.box {
    border-top: none !important
}

.box-body {
    padding: 0px !important;
}

.navbar-right {
    margin-top: 10px;
    margin-right: 8px !important;
    background-color: #A93226;
    border-radius: 50px;
}

.navbar-right>li>a {
    padding-top: 5px;
    padding-bottom: 5px;
}

.navbar-brand {
    padding: 5px 5px;
}

.navbar {
    min-height: 30px !important;
}

.navbar-brand{
    height: 30px;
}

.form-collapsable{
    background-color: #ddd;
/* color: orange; */
    border-radius: 5px;
    padding-top: 15px !important;
    padding-right: 10px !important;
    padding-bottom: 10px !important;
    padding-left: 15px !important;
}

.navbar-default .navbar-nav>li>a {
    color: orange !important;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: black !important;
}

.breadcrumb > li > a{
    color: orange;
}

.breadcrumb>.active {
    color: #fff;
}

.btn-primary {
    background-color: #005582 !important;
}

.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover {
    color: #fff !important;
    background-color: #1a2127 !important;
}

td > a {
    color: #007bff !important;
}

.box-header {
    padding: 10px 0 !important;
}

.fixed-table-pagination div.pagination, .fixed-table-pagination .pagination-detail {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}

.box, content-wrapper{
    background-color: #eee;
}

.index-links{
    padding: 25px;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #ddd !important;
}

.login-box {
    margin: 3% 71% auto !important;
}

.fs-xlarge{
    font-size: x-large !important;
}